.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.todo-container {
  color: white;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  padding: 20px;
  //   width: 600px;
  //   transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding: 10px;
    font-family: "Candal", sans-serif;
    font-size: 2em;
  }

  ul {
    list-style: none;
  }
}

.todo-header {
  input {
    width: 92%;
    border: none;
    border-radius: 5px;
    height: 20px;
    font-family: "Candal", sans-serif;
  }
  button {
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    font-family: "Candal", sans-serif;
    background-color: rgb(51, 212, 100);
  }
}

.todo-list-item {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Candal", sans-serif;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;

  form {
    width: 100%;
    display: flex;
  }

  input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Candal", sans-serif;
  }

  button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: "Candal", sans-serif;
    background-color: rgb(51, 212, 100);
  }

  .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: "Candal", sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
  }

  div {
    flex-grow: 2;
  }

  .edit {
    color: rgb(143, 233, 58);
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  .remove {
    color: rgb(243, 96, 96);
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
  }
}

.todo .todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editForm {
  flex-direction: column;
}
.actions {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
