<body class="bg-white">
  <div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">
      <div class="wrapper d-flex flex-column flex-row-fluid vh-100" >
        <div class="content d-flex flex-column flex-column-fluid bg-white" >
          <div class="d-flex flex-column-fluid align-items-center">
            <div class="container" >
              <div class="card">
                <div class="card-body p-10 p-lg-15">
                  <div class="pb-10">
                  <img src="assets/img/ayobatodo.png" width="100%" />
                  </div>
                  <h1 class="fw-bolder text-center " style="font-size: 1.6rem;">
                    <div class="typing-demo">
                      Manage &nbsp;|&nbsp; Organize &nbsp;|&nbsp; Invent
                    </div>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer py-4 d-flex flex-lg-column">
          <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
            <div class="text-dark order-2 order-md-1 text-center">
              <span class="text-muted fw-bold me-2">Powered By</span>
              <h1 class="fw-bolder mb-2 d-block">theHinneh</h1>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  </body>
